################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KatanaZeroRando
/KatanaZeroRando/bin
/KatanaZeroRando/obj
/KatanaZeroRando/Properties
